<% if @genre %>
<% content_for :title, "#{@genre.genre} movies on" %>
<h3>List of <%= @genre.genre.downcase %> movies on filmcheck</h3>
<ul>
 <% for movie in @genre.movies %>
    <li>
        <%= link_to "#{movie.title} (#{movie.year})", show_movie_path(movie.title.parameterize, movie.imdb) %>
    </li>
<% end %>
<% else %>
<p>Shit hit the fan! The actor you searched for does not exist...</p>
<% end %>