<% if @movies %>
<% content_for :title, "#{@genre.genre} movies on" %>

<h2>Showing <%= @genre.genre.downcase %> movies</h2>
<div class="content">
    <div class="movie-listing">
        <% for movie in @movies %>
            <%= link_to show_movie_path(movie.title.parameterize, movie.imdb), :class => 'movie-listing-item' do %>
             <span class="listing-point"><%= '%.1f' % movie.score %> <em>of 10</em></span> <%= movie.title %>
            <% end %>
        <% end %>
    </div>
</div>
<% else %>
<p>Shit hit the fan! The genre you searched for does not exist...</p>
<% end %>