<% content_for :title, "This is how things work on " %>
<h2>What's with all the numbers?</h2>
<div class="content moviecard">
    <div class="moviecard-plot">
        <p>Well...
        Long story short, we crunch data from several rating sites (big ones) so that you don't get to be
        disappointed by yet another overrated movie.</p>
        <p>Aside the average rating score presented to you for a movie of your choice, there are also terrific
        algorithms (just kidding, easy math equations) going on for your movie. There are two (very) important things to
        keep track of when looking up movies:</p>
        <ol>
            <li>Total amount of ratings<br><small>Well, logically the more the merrier.</small></li>
            <li>How safe the rating is<br><small>That's how much you can count on the rating.</small></li>
        </ol>
        <p>Now with those points above in mind. If you were to search for a great rating for, let's say, 'Godfather', take notice
        to how many users have voted for the given rating but also the percentage of rating safety. With 'Godfather', it might be a
        safe bet with perhaps the following data: 9.3/10 with over 2 million ratings and you can count on this rating with up to 75%. In other words - enjoy the movie!</p>
    </div>
    <div class="moviecard-plot">
        <h3>Got it! But where does the data come from?</h3>
        <p>That's a secret! Just kiddin'! The collected data comes from rottentomatoes, imdb.com and metacritic.</p>
    </div>
    <div class="alert alert-info">
        <h3>NOTICE!</h3>
        <p>Nobody is (entirely) perfect!</p>
        <p>Sometimes you might find yourself watching an overrated movie based on our data. Although this doesn't really happen that often, we really hope that you enjoy using the site anyway.</p>
    </div>
</div>