<% content_for :title, 'List of all movies on ' %>
<% content_for :page_header, "List of all movies with great ratings" %>
<% content_for :page_header_small, " #{@movies.size} and counting!" %>

<ul>
<% for movie in @movies %>
    <li>
        <%= link_to "#{movie.title}", show_movie_path(movie.title.parameterize, movie.imdb) %>
    </li>
<% end %>
</ul>

<%= will_paginate @movies %>