<% content_for :og_tags do %>
<meta property="og:title" content="For better movie ratings">
<meta property="og:description" content="Crunching data from several big movie sites, giving you better movie ratings.">
<meta property="og:url" content="<%= request.original_url %>">
<meta property="og:site_name" content="filmcheck">
<meta property="og:type" content="video.movie">
<% end %>
<% content_for :title, 'List of top rated movies on ' %>
<h2>Top rated movies <small><em>aka</em> must see</h2>
<%= render :partial => 'movies' %>