<% if @results %>
<% content_for :og_tags do %>
<meta property="og:title" content="Movie rating results for <%= @search_term %>">
<meta property="og:description" content="Crunching data from several big movie sites, giving you better movie ratings.">
<meta property="og:url" content="<%= request.original_url %>">
<meta property="og:site_name" content="filmcheck">
<meta property="og:type" content="video.movie">
<% end %>
<% content_for :title, "Movie rating results for '#{@search_term}' on" %>

<h2>Ratings for movies named '<%= @search_term %>'</h2>
<div class="content">
    <div class="movie-listing">
        <% for result in @results['Search'] %>
            <% if result['Type'] == 'movie' %>
                <%= link_to "#{result['Title']} (#{result['Year']})", show_movie_path(result['Title'].parameterize, result['imdbID']), :class => 'movie-listing-item' %>
            <% end %>
        <% end %>
    </div>
</div>
<% else %>
<h2>No luck :(</h2>
<div class="alert alert-info">
<% if @search_term % %>
    <p>Searching for '#{@search_term}'</p>
<% end %>
     <p>There were no results for your search, please try something new, or <% link_to 'see our top rated movies', root_path, :class => 'alert-link' %> for suggestions.</p>
</div>
<% end %>