<% content_for :og_tags do %>
<meta property="og:title" content="The (un)official shitlist on filmcheck.">
<meta property="og:description" content="Crunching data from several big movie sites, giving you better movie ratings.">
<meta property="og:url" content="<%= request.original_url %>">
<meta property="og:site_name" content="filmcheck">
<meta property="og:type" content="video.movie">
<% end %>
<% content_for :title, 'Movies that you don\'t want to watch, according to ' %>

<h2>The (un)official shitlist <small>according to us</small></h2>
<%= render :partial => 'movies' %>
